body {
	background-color: black;
}

#board {
	width: 550px;
	height: 550px;
	margin: auto;
	margin-top: 4%;
	background-color: #C17753;
	padding: 10px;
}

#game_option {
	position: absolute;
	z-index: 777;
	width: 550px;
	height: 550px;
	padding: 10px;
	margin-left: -10px;
	margin-top: -10px;
	background-color: #f2f2f2 !important;
	opacity: 0.9;
}

.player_option {
	position: relative;
	margin: auto;
	margin-top: 5%;
	width: 80%;
	height: 35%;
	padding-top: 5%;
	background-color: red;
	text-align: center;
	font-size: 3.5em;
}

.player_option:hover {
	background-color: black;
	color: white;
}

table, th, td {
	z-index: 100;
	//display: none;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 100px;
	text-align: center;
}

tr {
	height: 175px
}

th {
	width: 175px;
}
/*
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
	position: relative;
	margin: 0px;
	display: inline-block;
	width: 175px;
	height: 175px;
	border-style: solid;
	border-color: white;
	border-right-width: 1px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
}

#nine {
	border-right-width: 0px; 
	background-color: white;
}

#row1, #row2, #row3 {
	width: 550px;
	height: 175px;
	display: block;
}

#row1 {
	background-color: red;
}

#row1 {
	background-color: yellow;
}

#row3 {
	background-color: green;
}*/

@media (max-width: 500px) {
  #board {
    width: 270px;
    height: 270px;
    margin-top: 40%;
  }
}
