body {
	background-color: #DDA0DD !important;
	opacity: 0.9;
}

#fluid-container {
	position: relative;
	margin: auto;
	height: 90%;
	width: 90%;
	//background-color: white;
}

#title {
	text-align: center;
	font-weight: bolder;
	text-decoration: underline;
	color: #323270;
}

#search_box {
	position: relative;
	top:30%;
	padding: 10px;
	margin: auto;
	height: auto;
	text-align: center;
	//background-color: red;
}

#search_input {
	border: solid 5px #323270;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
}

#search_input:focus {
	border: 5px solid #8282C0;
}

#search_section {
	position: relative;
	display: block;
}

#search_icon {
	position: relative;
	top: 10px;
}

.fa {
	color: #323270;
}

.fa:hover {
	color:#333;
}

#results {
  position: relative;
  margin: auto;
  height: auto;
}

#result {
 position: relative;
 text-align: left;
}

#result:hover {
  position: relative;
  border-left: solid 5px white;
  padding-left: 5px;
}

#result_title {
  position: relative;
  height: auto;
  font-weight: bolder;
  margin-bottom: 0px;
  background-color: #808080;
  padding:10px;
}

#result_content {
  position: relative
  height: auto;
  margin-top: 0px;
  color: white;
  background-color: #808080;
  padding: 10px;
}

#footer {
	position: relative;
	margin: 10px;
	text-align: center;
	top: 60%;
	clear: both;
}
