#wrapper {
	background-color: rgb(55, 71, 133, 0.8);
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#header {
	background-color: white;
	width: 80%;
	margin: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 4px dashed;
	border-color: rgb(55, 71, 133, 0.9);
	padding: 10px;
	color: rgb(55, 71, 133, 0.9);
}

#container {
	width: 80%;
	margin: auto;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
	color: rgb(55, 75, 133, 1)
}

#name-label,#email-label,#number-label,#program-label {
	font-weight: bold;
}

input {
	margin-bottom: 5px;
}

button {
	border-color: rgb(55, 71, 133);
	border-width: 2px;
	width: 80%;
	padding: 8px;
	color: rgb(55, 71, 133);
	border-radius: 5px;
}
