body {
	font-size: 4em;
	vertical-align: middle; 
}

#result {
	background-color: black;
	color: white;
	height: 20%;
	padding: 2%;
}

.row {
	border: 1px solid black;
}

#footer {
	font-size: 0.8em;
	background-color: grey;
}

.col-xs-4, .col-xs-3, .col-xs-5, .col-xs-6 {
	border: 1px solid black;
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 1.5%;
}

.num {
	background-color: #A0B246;
}

.functional_op {
	background-color: #3584B2;
}

.arithmetric_op {
	background-color: orange;
}

#result_row .col-xs-12, .col-md-12 {
	padding: 0px;
}

.col-xs-4, .col-xs-5, .col-xs-3, .col-xs-6 {
	color: white;
	height: 16%;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.col-xs-4, .col-xs-3, .col-xs-5, .col-xs-6 {
		padding-top: 3%;
	}
}


