#weather_box {
  width: 40%;
  padding: 10px;
  margin: 10% auto auto auto;
  text-align: center;
  background-color: rgba(177, 177, 177, 0.1);
  color: black;
  border-radius: 8px;
}

#header {
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 3em;
  text-decoration: underline;
  word-spacing: 10px;
}

#temp, #location, #weather {
  font-size: 20px;
  font-weight: bold;
  display: block !important;
}

#icon {
  font-size: 10em;
}

#fluid-container {
  height: 100%;
  width: 100%;
}

#footer {
  font-size: 10px;
  color: black;
}
