body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
} 

#weather_box {
  width: 40%;
  padding: 10px;
  margin: 10% auto auto auto;
  text-align: center;
  background-color: rgba(177, 177, 177, 0.25);
  color: black;
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
     /* start of large tablet styles */
  #weather_box {
    width: 80%;
  }
}

#header {
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 3em;
  text-decoration: underline;
  word-spacing: 10px;
}

#temp, #location, #weather {
  font-size: 25px;
  font-weight: bold;
  display: block !important;
}

#icon {
  font-size: 10em;
}

#fluid-container {
  height: 100%;
  width: 100%;
}

#footer {
  font-size: 10px;
  color: black;
}

#loading {
  font-size: 100px;
}

/* Portrait */
@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  background-size: auto !important;
}


